client/src/main/resources/quotes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->

<!-- Any comments below this line are added by Nardos Tessema -->

<!-- This XSD file is generated by the service. -->
<!-- Published at http://localhost:8888/quotes?xsd=1 -->
<!-- I made only formatting changes in this XSD file. -->
<!-- 1. Made tags self closing whenever possible. -->
<!-- 2. Added new lines to make the XML more readable. -->

<xs:schema xmlns:tns="http://service.jaxws.ntessema.depaul.edu/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           version="1.0"
           targetNamespace="http://service.jaxws.ntessema.depaul.edu/">

    <xs:element name="addQuote" type="tns:addQuote" />
    <xs:element name="addQuoteResponse" type="tns:addQuoteResponse" />
    <xs:element name="getQuote" type="tns:getQuote" />
    <xs:element name="getQuoteResponse" type="tns:getQuoteResponse" />
    <xs:complexType name="addQuote">
        <xs:sequence>
            <xs:element name="arg0" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="addQuoteResponse">
        <xs:sequence />
    </xs:complexType>
    <xs:complexType name="getQuote">
        <xs:sequence />
    </xs:complexType>
    <xs:complexType name="getQuoteResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>